/* code line 43 -48 are inspired from professorhttps://github.com/carolinebarriere/carolinebarriere.github.io/blob/master/SEG3125-Module2-Grocery/styles/style.css*/
h2{
    text-align: center;
}
/*
.scissor{
    position: relative;
    left: 5px;
}
*/
.wash{
    position: relative;
    left: 8px;
}
.dry{
    position: relative;
    left: 15px;
}
/*
.cut{
    position: relative;
    left: px;
}
*/
.washhair{
    position: relative;
    left: 25px;
}
.dye{
    position: relative;
    left: 35px;
}
*/
h1 {
    font-family: "Times New Roman", Times, serif;
    text-shadow: 3px 3px 1px black;
    
  }
em{
    font-style: italic;
    font-weight: bold;
}
#signature {
    text-align: right;
    color: red;
    font-style: italic;
    font-size: 75%;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
.mood1{
      font-family: Impact;
  }