/* code line 5-9 16-21 32-40 are from professor  https://github.com/carolinebarriere/carolinebarriere.github.io/blob/master/SEG3125-Module5-ValidatedService/styles/style.css*/

h1 {
    font-family: "Times New Roman", Times, serif;
    text-shadow: 3px 3px 1px black;
    
  }
em{
    font-style: italic;
    font-weight: bold;
}
.cut{
    position: relative;
    left: 15px;
}
.washhair{
    position: relative;
    left: 15px;
}
.dye{
    position: relative;
    left: 15px;
}
.spaface{
    position: relative;
    left: 15px; 
}

#signature {
    text-align: right;
    color: red;
    font-style: italic;
    font-size: 75%;
}
.carousel-inner img {
    width: 100%;
   
  }
  
.mood1{
      font-family: Impact;
}


.error {
    background-color: yellow;
    color : red;
}
  

.showInput {
    background-color: pink;
}


.btn-primary:hover{
    background-color:green;
}
