h1 {
    font-family: "Times New Roman", Times, serif;
    text-shadow: 3px 3px 1px black;
    
  }
em{
    font-style: italic;
    font-weight: bold;
}
#signature {
    text-align: right;
    color: red;
    font-style: italic;
    font-size: 75%;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
.mood1{
      font-family: Impact;
}


.error {
    background-color: yellow;
    color : red;
}
  
  
.showInput {
    background-color: pink;
}